HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### java-web-course generated intermediates ###
java-web-course/scripts/chapters.json
java-web-course/scripts/chapters_bilingual.json
java-web-course/scripts/toc.html
java-web-course/scripts/toc_bilingual.html
java-web-course/scripts/sections.html
java-web-course/scripts/sections_bilingual.html
